<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AgendamentoVeterinaria.Web</title>

    <link href="~/css/tailwind.css" rel="stylesheet" />
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body class="font-quicksand flex flex-col bg-gray-100 @(IsSectionDefined("NoScroll") ? "overflow-hidden" : "")">
    <header class="flex-shrink-0 bg-white shadow-md">
        <nav class="mx-20 flex items-center justify-between px-6 py-2">
            <a class="h-16 w-16 bg-[url(/img/logoVetImpacta.png)] bg-cover bg-no-repeat" asp-area="" asp-page="/Index"></a>

            <div class="flex items-center gap-4 space-x-4 md:flex">
                <a class="font-bold text-gray-600 hover:text-gray-800" asp-area="" asp-page="/CadastroAgendamento/Index">Agendamento</a>
                <a class="font-semibold text-gray-600 hover:text-gray-800" asp-area="" asp-page="/Privacy">Sobre</a>
            </div>
                        
        </nav>
    </header>

    <main class="w-full">
        @RenderBody()
    </main>

    @RenderSection("NoScroll", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>