@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section NoScroll { }
<div class="h-screen w-screen overflow-hidden bg-[url(/img/homepagebg.jpg)] bg-cover bg-center bg-no-repeat">
</div>
